{% extends "base.html.twig" %}

{% block title %}
	Administration des articles
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}


	<section class="container mt-2">
		<h1 class="text-center">Administration des articles</h1>
		<a href=" {{ 'admin.articles.create' }}" class="btn btn-primary">Création d'un utilisateur</a>
		<div class="card-list mt-4">
			{% for article in articles %}
				{% include 'Components/_articleCard.html.twig' %}

			{% endfor %}
		</div>
	</section>
{% endblock %}
